<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apple.module.dictionary.mapper.OptDicMapper" >
  <resultMap id="BaseResultMap" type="apple.module.dictionary.model.OptDic" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="opt_name" property="optName" jdbcType="VARCHAR" />
    <result column="opt_key" property="optKey" jdbcType="CHAR" />
    <result column="opt_val" property="optVal" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, opt_name, opt_key, opt_val, parent_id, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="apple.module.dictionary.model.OptDicExam" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kernel_opt_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null" >
      limit #{pagination.limitIndex} , #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from kernel_opt_dic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kernel_opt_dic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="apple.module.dictionary.model.OptDicExam" >
    delete from kernel_opt_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="apple.module.dictionary.model.OptDic" >
    insert into kernel_opt_dic (id, opt_name, opt_key, 
      opt_val, parent_id, description
      )
    values (#{id,jdbcType=BIGINT}, #{optName,jdbcType=VARCHAR}, #{optKey,jdbcType=CHAR}, 
      #{optVal,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="apple.module.dictionary.model.OptDic" >
    insert into kernel_opt_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="optName != null" >
        opt_name,
      </if>
      <if test="optKey != null" >
        opt_key,
      </if>
      <if test="optVal != null" >
        opt_val,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="optName != null" >
        #{optName,jdbcType=VARCHAR},
      </if>
      <if test="optKey != null" >
        #{optKey,jdbcType=CHAR},
      </if>
      <if test="optVal != null" >
        #{optVal,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="apple.module.dictionary.model.OptDicExam" resultType="java.lang.Integer" >
    select count(*) from kernel_opt_dic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kernel_opt_dic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.optName != null" >
        opt_name = #{record.optName,jdbcType=VARCHAR},
      </if>
      <if test="record.optKey != null" >
        opt_key = #{record.optKey,jdbcType=CHAR},
      </if>
      <if test="record.optVal != null" >
        opt_val = #{record.optVal,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kernel_opt_dic
    set id = #{record.id,jdbcType=BIGINT},
      opt_name = #{record.optName,jdbcType=VARCHAR},
      opt_key = #{record.optKey,jdbcType=CHAR},
      opt_val = #{record.optVal,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="apple.module.dictionary.model.OptDic" >
    update kernel_opt_dic
    <set >
      <if test="optName != null" >
        opt_name = #{optName,jdbcType=VARCHAR},
      </if>
      <if test="optKey != null" >
        opt_key = #{optKey,jdbcType=CHAR},
      </if>
      <if test="optVal != null" >
        opt_val = #{optVal,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="apple.module.dictionary.model.OptDic" >
    update kernel_opt_dic
    set opt_name = #{optName,jdbcType=VARCHAR},
      opt_key = #{optKey,jdbcType=CHAR},
      opt_val = #{optVal,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>