<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="apple.module.userOpt.mapper.UserOptMapper" >
  <resultMap id="BaseResultMap" type="apple.module.userOpt.model.UserOpt" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="is_success" property="isSuccess" jdbcType="CHAR" />
    <result column="opt_type" property="optType" jdbcType="CHAR" />
    <result column="entity_id" property="entityId" jdbcType="BIGINT" />
    <result column="entity_type" property="entityType" jdbcType="VARCHAR" />
    <result column="entity_title" property="entityTitle" jdbcType="VARCHAR" />
    <result column="opt_detail" property="optDetail" jdbcType="VARCHAR" />
    <result column="opt_time" property="optTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, nickname, is_success, opt_type, entity_id, entity_type, entity_title, 
    opt_detail, opt_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="apple.module.userOpt.model.UserOptExam" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kernel_user_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pagination != null" >
      limit #{pagination.limitIndex} , #{pagination.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from kernel_user_opt
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kernel_user_opt
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="apple.module.userOpt.model.UserOptExam" >
    delete from kernel_user_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="apple.module.userOpt.model.UserOpt" >
    insert into kernel_user_opt (id, user_id, nickname, 
      is_success, opt_type, entity_id, 
      entity_type, entity_title, opt_detail, 
      opt_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{nickname,jdbcType=VARCHAR}, 
      #{isSuccess,jdbcType=CHAR}, #{optType,jdbcType=CHAR}, #{entityId,jdbcType=BIGINT}, 
      #{entityType,jdbcType=VARCHAR}, #{entityTitle,jdbcType=VARCHAR}, #{optDetail,jdbcType=VARCHAR}, 
      #{optTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="apple.module.userOpt.model.UserOpt" >
    insert into kernel_user_opt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="isSuccess != null" >
        is_success,
      </if>
      <if test="optType != null" >
        opt_type,
      </if>
      <if test="entityId != null" >
        entity_id,
      </if>
      <if test="entityType != null" >
        entity_type,
      </if>
      <if test="entityTitle != null" >
        entity_title,
      </if>
      <if test="optDetail != null" >
        opt_detail,
      </if>
      <if test="optTime != null" >
        opt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        #{isSuccess,jdbcType=CHAR},
      </if>
      <if test="optType != null" >
        #{optType,jdbcType=CHAR},
      </if>
      <if test="entityId != null" >
        #{entityId,jdbcType=BIGINT},
      </if>
      <if test="entityType != null" >
        #{entityType,jdbcType=VARCHAR},
      </if>
      <if test="entityTitle != null" >
        #{entityTitle,jdbcType=VARCHAR},
      </if>
      <if test="optDetail != null" >
        #{optDetail,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        #{optTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="apple.module.userOpt.model.UserOptExam" resultType="java.lang.Integer" >
    select count(*) from kernel_user_opt
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kernel_user_opt
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.isSuccess != null" >
        is_success = #{record.isSuccess,jdbcType=CHAR},
      </if>
      <if test="record.optType != null" >
        opt_type = #{record.optType,jdbcType=CHAR},
      </if>
      <if test="record.entityId != null" >
        entity_id = #{record.entityId,jdbcType=BIGINT},
      </if>
      <if test="record.entityType != null" >
        entity_type = #{record.entityType,jdbcType=VARCHAR},
      </if>
      <if test="record.entityTitle != null" >
        entity_title = #{record.entityTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.optDetail != null" >
        opt_detail = #{record.optDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.optTime != null" >
        opt_time = #{record.optTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kernel_user_opt
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      is_success = #{record.isSuccess,jdbcType=CHAR},
      opt_type = #{record.optType,jdbcType=CHAR},
      entity_id = #{record.entityId,jdbcType=BIGINT},
      entity_type = #{record.entityType,jdbcType=VARCHAR},
      entity_title = #{record.entityTitle,jdbcType=VARCHAR},
      opt_detail = #{record.optDetail,jdbcType=VARCHAR},
      opt_time = #{record.optTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="apple.module.userOpt.model.UserOpt" >
    update kernel_user_opt
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="isSuccess != null" >
        is_success = #{isSuccess,jdbcType=CHAR},
      </if>
      <if test="optType != null" >
        opt_type = #{optType,jdbcType=CHAR},
      </if>
      <if test="entityId != null" >
        entity_id = #{entityId,jdbcType=BIGINT},
      </if>
      <if test="entityType != null" >
        entity_type = #{entityType,jdbcType=VARCHAR},
      </if>
      <if test="entityTitle != null" >
        entity_title = #{entityTitle,jdbcType=VARCHAR},
      </if>
      <if test="optDetail != null" >
        opt_detail = #{optDetail,jdbcType=VARCHAR},
      </if>
      <if test="optTime != null" >
        opt_time = #{optTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="apple.module.userOpt.model.UserOpt" >
    update kernel_user_opt
    set user_id = #{userId,jdbcType=BIGINT},
      nickname = #{nickname,jdbcType=VARCHAR},
      is_success = #{isSuccess,jdbcType=CHAR},
      opt_type = #{optType,jdbcType=CHAR},
      entity_id = #{entityId,jdbcType=BIGINT},
      entity_type = #{entityType,jdbcType=VARCHAR},
      entity_title = #{entityTitle,jdbcType=VARCHAR},
      opt_detail = #{optDetail,jdbcType=VARCHAR},
      opt_time = #{optTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>