/* 文件列表DIV */
#list {
	width: 100%;
}

/* 文件列表表格 */
.fileList {
	width: 100%;
}

/* 文件列表表格, 文件单元格 */
.fileList td {
	text-align: left;
	line-height: 40px;
	font-size: 12px
}

/* 文件列表., 文件单元格 */
.ftp_file {
	background: url("../../img/file.png") 0px 8px no-repeat;
}

/* 文件列表., 文件夹单元格 */
.ftp_directory {
	background: url("../../img/directory.png") 0px 5px no-repeat;
}

/* 文件列表状态栏表格 */
.fileStatus {
	width: 100%;
}

/* 文件列表状态栏表格 单元格*/
.fileStatus td {
	text-align: left;
	font-size: 12px
}

/* 当前路径SPAN */
#currentPath {
	border: 1px solid #0066B3;
	line-height: 21px;
	margin-top: 2px;
	position: absolute
}

/* 文件列表工具栏DIV */
#toolBar {
	position: fixed;
	top: 0;
	background:url('../../img/login_button.jpg');
	width: 100%
}

/* 文件列表checkbox */
input[type="checkbox"] {
	height: 15px;
}

.fileList tr:hover{
	background:#80C8FE;
}
.select_file{
	background:#BFE3FE;border:1px solid #00477D;
}