<?xml version="1.0" encoding="UTF-8"?>

<!-- debug为false(默认):不打印logbak的内部日志, scan为true(默认):实时扫描logbak配置变化, 重新加载, scanPeriod="60 seconds"(默认):实时扫描的间隔时间 -->
<configuration debug="false" scan="true" scanPeriod="60 seconds">
	<!-- 设置应用的名称 -->
	<contextName>com.athena</contextName>
	<!-- 声明一个时间戳变量, 使用${now}来输出当前的时间戳, 通常用于组装路径或文件名 -->
	<timestamp key="now" datePattern="yyyyMMdd'T'HHmmss" />
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="${logback.log_home}" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 按照每天生成日志文件 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_HOME}/limit.log.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!--日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>

		<!-- 日志格式 -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>

		<!--日志文件最大的大小, 超过该大小则删除 -->
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>50MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<!-- 日志输出级别设置 -->
	<logger name="com.athena" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>